body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.waves-content-container {
  max-width: 960px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.waves-content {
  text-align: center;
  padding: 50px;
}

.waves-content-container svg {
  min-height: 160px;
  position: absolute;
  bottom:0px;
}

#wavesAnswer {
  display: none;
}

.wave {
  animation: wave 10s linear;
  animation-iteration-count:infinite;
  fill: #D4EFEE;
}

#wave2 {
  animation-duration:12s;
  animation-direction: reverse;
  opacity: .6;
}

#wave3 {
  animation-duration: 14s;
  opacity:.3;
}

@keyframes wave {
  to {transform: translateX(-100%);}
}